<!DOCTYPE html>
{% load staticfiles%}
<html>
<head>
<title>ReSale</title>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-select.css' %}">
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Resale Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<!--fonts-->
<link href='//fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!--//fonts-->	
<!-- js -->
<script type="text/javascript" src="{% static 'js/jquery.min.js'%}"></script>
<!-- js -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/bootstrap-select.js'%}"></script>
<script>
  $(document).ready(function () {
    var mySelect = $('#first-disabled2');

    $('#special').on('click', function () {
      mySelect.find('option:selected').prop('disabled', true);
      mySelect.selectpicker('refresh');
    });

    $('#special2').on('click', function () {
      mySelect.find('option:disabled').prop('disabled', false);
      mySelect.selectpicker('refresh');
    });

    $('#basic2').selectpicker({
      liveSearch: true,
      maxOptions: 1
    });
  });
</script>
<script type="text/javascript" src="{% static 'js/jquery.leanModal.min.js' %}"></script>
<link href="{% static 'css/jquery.uls.css' %}" rel="stylesheet"/>
<link href="{% static 'css/jquery.uls.grid.css' %}" rel="stylesheet"/>
<link href="{% static 'css/jquery.uls.lcd.css' %}" rel="stylesheet"/>
{% block head %} {% endblock %}
<!-- Source -->
<script src="{% static 'js/jquery.uls.data.js' %}"></script>
<script src="{% static 'js/jquery.uls.data.utils.js' %}"></script>
<script src="{% static 'js/jquery.uls.lcd.js' %}"></script>
<script src="{% static 'js/jquery.uls.languagefilter.js' %}"></script>
<script src="{% static 'js/jquery.uls.regionfilter.js' %}"></script>
<script src="{% static 'js/jquery.uls.core.js' %}"></script>
<script>
			$( document ).ready( function() {
				$( '.uls-trigger' ).uls( {
					onSelect : function( language ) {
						var languageName = $.uls.data.getAutonym( language );
						$( '.uls-trigger' ).text( languageName );
					},
					quickList: ['en', 'hi', 'he', 'ml', 'ta', 'fr'] //FIXME
				} );
			} );
        </script>
<link rel="stylesheet" type="text/css" href="{% static 'css/easy-responsive-tabs.css'%} " />
<script src="{% static 'js/easyResponsiveTabs.js'%}"></script>
<script src="{% static 'js/tabs.js'%}"></script>
	
<script type="text/javascript">
$(document).ready(function () {    
var elem=$('#container ul');      
	$('#viewcontrols a').on('click',function(e) {
		if ($(this).hasClass('gridview')) {
			elem.fadeOut(1000, function () {
				$('#container ul').removeClass('list').addClass('grid');
				$('#viewcontrols').removeClass('view-controls-list').addClass('view-controls-grid');
				$('#viewcontrols .gridview').addClass('active');
				$('#viewcontrols .listview').removeClass('active');
				elem.fadeIn(1000);
			});						
		}
		else if($(this).hasClass('listview')) {
			elem.fadeOut(1000, function () {
				$('#container ul').removeClass('grid').addClass('list');
				$('#viewcontrols').removeClass('view-controls-grid').addClass('view-controls-list');
				$('#viewcontrols .gridview').removeClass('active');
				$('#viewcontrols .listview').addClass('active');
				elem.fadeIn(1000);
			});									
		}
	});
});
</script>
</head>
<body>
	<div class="header">
		<div class="container">
			<div class="logo">
				<a href="{% url 'index'%}"><span>Re</span>Sale</a>
            </div>

			<div class="header-right">
                {% if user.is_authenticated %}
                {% if user.is_superuser %}
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Admin
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'admin:index'%}">Go To Admin Panel</a></li>
                        <li><a href="{% url 'mysite:uslogout'%}">Logout</a></li>
                    </ul>
                </div>
                {%else%}
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        <img src="/media/{{profile.profile_pic}}" style="height:50px;width:50px;border-radius:50%;" alt="">
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <h4 class="text-center">{{user.first_name}}</h4>
                        <li><a href="{% url 'mysite:myadds'%}">My Adds</a></li>
                        <hr>
                        <li><a href="{% url 'mysite:post_add'%}">Post an Add</a></li>
                        <li><a href="{% url 'mysite:uslogout'%}">Logout</a></li>
                    </ul>
                </div>
                {% endif %}
                {% else %}
                <a class="account" href="{% url 'mysite:signin'%}">My Account</a>
                {% endif %}
		    </div>
		</div>
	</div>
    {% block body %}
    {% endblock %}
    <!--footer section start-->		
    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="foo-grids">
                    <div class="col-md-3 footer-grid">
                        <h4 class="footer-head">Who We Are</h4>
                        <p>The Resale marketplace is a platform for buying and selling services and goods such as electronics, fashion items, furniture, household goods, Properties, cars and bikes.</p>
                    </div>
                    <div class="col-md-3 footer-grid">
                        <h4 class="footer-head">Help</h4>
                        <ul>
                            <li><a href="{% url 'mysite:categories'%}">Categories</a></li>						
                            <li><a href="{% url 'mysite:all-classifieds'%}">All Products</a></li>
                           
                            <li><a href="{% url 'mysite:contact'%}">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 footer-grid">
                        <h4 class="footer-head">Quick adds</h4>
                        <ul>
                            {% for i in recents %}
                            <li><a href="{% url 'mysite:single_product'%}?id={{i.id}}">{{i.title}}</a></li>	
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-3 footer-grid">
                        <h4 class="footer-head">Contact Us</h4>
                        <span class="hq">Our headquarters</span>
                        <address>
                            <ul class="location">
                                <li><span class="glyphicon glyphicon-map-marker"></span></li>
                                <li>CENTER FOR FINANCIAL ASSISTANCE TO DEPOSED NIGERIAN ROYALTY</li>
                                <div class="clearfix"></div>
                            </ul>	
                            <ul class="location">
                                <li><span class="glyphicon glyphicon-earphone"></span></li>
                                <li>+0 561 111 235</li>
                                <div class="clearfix"></div>
                            </ul>	
                            <ul class="location">
                                <li><span class="glyphicon glyphicon-envelope"></span></li>
                                <li><a href="mailto:mohitjassal53@gmail.com ">mohitjassal53@gmail.com </a></li>
                                <div class="clearfix"></div>
                            </ul>						
                        </address>
                    </div>
                    <div class="clearfix"></div>
                </div>						
            </div>	
        </div>	
        <div class="footer-bottom text-center">
        <div class="container">
            <div class="footer-logo">
                <a href="index.html"><span>Re</span>sale</a>
            </div>
            <div class="footer-social-icons">
                <ul>
                    <li><a class="facebook" href="https://www.facebook.com/"><span>Facebook</span></a></li>
                    <li><a class="twitter" href="https://twitter.com/"><span>Twitter</span></a></li>
                    <li><a class="flickr" href="https://www.flickr.com/photos/tags/flicker/"><span>Flickr</span></a></li>
                    <li><a class="googleplus" href="https://aboutme.google.com/u/0/?referer=gplus"><span>Google+</span></a></li>
                    <li><a class="dribbble" href="https://dribbble.com/"><span>Dribbble</span></a></li>
                </ul>
            </div>
            <div class="copyrights">
                <p> © 2019 Resale. All Rights Reserved</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    </footer>
    <!--footer section end-->
</body>
</html>