{% extends "base.html" %}
{% block body %}
<section>
	<div id="page-wrapper" class="sign-in-wrapper">
		<div class="graphs">
			<div class="sign-in-form">
				<div class="sign-in-form-top">
					<h1>Log in</h1>
				</div>
				<div class="signin">
					<!-- <div class="signin-rit">
						<span class="checkbox1">
								<label class="checkbox"><input type="checkbox" name="checkbox" checked="">Forgot Password ?</label>
						</span>
						<p><a href="#">Click Here</a> </p>
						<div class="clearfix"> </div>
					</div> -->
					{% if st %}
						<p class="alert alert-danger">{{st}}</p>
					{% endif %}
					<form method="post">
						{% csrf_token %}
					<div class="log-input">
						<div class="log-input-left">
							<input type="text" class="user" value="Your Email" name="username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Email';}"/>
						</div>
						<span class="checkbox2">
								<label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i></label>
						</span>
						<div class="clearfix"> </div>
					</div>
					<div class="log-input">
						<div class="log-input-left">
							<input type="password" class="lock" name="password" value="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email address:';}"/>
						</div>
						<span class="checkbox2">
								<label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i></label>
						</span>
						<div class="clearfix"> </div>
					</div>
					<div class="log-input">
						<div class="log-input-left">
							<input type="checkbox" name="remember">
							<label>Remember Me	</label>
						</div>
						
						<div class="clearfix"> </div>
					</div>
					<input type="submit" value="Log in">
				</form>	 
				</div>
				<div class="new_people">
					<h2>For New People</h2>
					<p>
						Create your account on ReSale, Post and manage your own adds.
					</p>
					<a href="{% url 'mysite:signup'%}">Register Now!</a>
				</div>
			</div>
		</div>
	</div>
<!--footer section start-->
	<footer class="diff">
		<p class="text-center">&copy 2016 Resale. All Rights Reserved | Design by <a href="" target="_blank">Project Team</a></p>
	</footer>
<!--footer section end-->
</section>
{% if status %}
<script>
	alert('{{status}}');
</script>
{% endif %}
{% endblock %}