{% extends "base.html"%}
{% load staticfiles %}
{% block head %}
<style>
input[type="number"] {
    padding: 10px 10px 10px 10px;
    width: 70%;
    margin-bottom: 25px;
    border: 1px solid #01a185;
    outline: none;
    color: #555;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    float: left;
}
</style>
{% endblock %}
{% block body %}
<!-- Submit Ad -->
<div class="submit-ad main-grid-border">
	<div class="container">
		<h2 class="head">Post an Ad</h2>
		<div class="post-ad-form">
			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<label>Select Category <span>*</span></label>
				<select class="" name="category" required>
					{% for i in cat %}
					<option value="{{i.category_name}}">{{i.category_name}}</option>
					{% endfor %}
					<option value="0">others</option>
				</select>
				<div class="clearfix"></div>
				<label>Ad Title <span>*</span></label>
				<input type="text" class="phone" name="title" placeholder="" required>
				<div class="clearfix"></div>
				<label>Price <span>*</span></label>
				<input type="number" class="phone" name="price" placeholder="" required>
				<div class="clearfix"></div>
				<label>Ad Description <span>*</span></label>
				<textarea class="mess" name="desc" placeholder="Write few lines about your product,  include @ after every line" required></textarea>
				<div class="clearfix"></div>
			<div class="upload-ad-photos">
			<label>Add Photo 1:</label>	
			<input type="file" name="image1" required><br>
			<label>Add Photo 2:</label>	
			<input type="file" name="image2" required><br>
			<label>Add Photo 3:</label>	
			<input type="file" name="image3" required><br>
			<label>Add Photo 4:</label>	
			<input type="file" name="image4" required><br>
				<!-- <div class="photos-upload-view">

					<input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />

					<div>
						<input type="file" id="fileselect" name="fileselect"  multiple="multiple" />
						<div id="filedrag">or drop files here</div>
					</div>

					<div id="submitbutton">
						<button type="submit">Upload Files</button>
					</div>


					<div id="messages">
					<p>Status Messages</p>
					</div>
					</div> -->
				<div class="clearfix"></div>
					<!-- <script src="{% static 'js/filedrag.js'%}"></script> -->
			</div>
			<div class="personal-details">
				<label>Your Name <span>*</span></label>
				<input type="text" class="name" placeholder="" value="{{profile.user.first_name}}" name="name" required>
				<div class="clearfix"></div>
				<label>Your Mobile No <span>*</span></label>
				<input type="text" class="phone" placeholder="" value="{{profile.contact}}" name="contact" required>
				<div class="clearfix"></div>
				<label>Your Email Address<span>*</span></label>
				<input type="text" class="email" placeholder="" value="{{profile.user.email}}" name="email" required>
				<div class="clearfix"></div>
				<label>Enter Your City<span>*</span></label>
				<input type="text" class="email" placeholder="" value="" name="city" required>
				<div class="clearfix"></div>
				<p class="post-terms">By clicking <strong>post Button</strong> you accept our <a href="terms.html" target="_blank">Terms of Use </a> and <a href="privacy.html" target="_blank">Privacy Policy</a></p>
			<input type="submit" value="Post">					
			<div class="clearfix"></div>
			</div>
		</form>
		</div>
	</div>	
</div>
{% if status %}
	<script>
		alert('{{status}}');
		window.location = "{% url 'mysite:single_product'%}?id={{sid}}";
	</script>
{% endif %}
<!-- // Submit Ad -->
{% endblock %}